[alias]
	co = checkout
	root = rev-parse --show-toplevel
	undo = reset --soft HEAD~1
	tree = log --oneline --all --graph
	mergetest = "!f(){ git merge --no-commit --no-ff \"$1\"; git merge --abort; echo \"Merge aborted\"; };f "

